@import url("https://rsms.me/inter/inter.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
}
:root {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: "Inter var", sans-serif;
  }
}

body {
  font-family: "Inter", sans-serif;
}

.youtube-iframe {
  border-radius: 5px;
  margin-bottom: 16px;
  margin-top: 16px;
  width: 800px;
  height: 450px;
}
